<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <nav>
            <h1>Welcome to the lunatic dashboard</h1>
            <ul>
                <li>Dashboard</li>
                <li><a href="/dev/dbContent">Database Content</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Database</h2>
        <section>
            <p><small>Data refesh : <span id="refreshTimeStamp">Chargement...</span></small></p>
            <aside>
                <h3>
                    <center>Number of values in database</center>
                </h3>
                <center>
                    <strong id="nbrValues">Chargement...</strong>
                </center>
            </aside>
            <aside>
                <h3>DateTime</h3>
                <p>Oldest : <span id="dateTimeOldest">Chargement...</span></p>
                <p>Latest : <span id="dateTimeLatest">Chargement...</span></p>
            </aside>
            <aside>
                <h3>Origin</h3>
                <p>Server : <span id="nbrOriginServer">Chargement...</span> </p>
                <p>Organic : <span id="nbrOriginOrganic">Chargement...</span> </p>
            </aside>
        </section>
        <script>
            async function getData() {
                const response = await fetch("/dev/data");
                const data = await response.json();
                return data;
            }

            setInterval(() => {
                getData().then(res => {
                    document.getElementById("nbrValues").innerText = res.nbrValues
                    document.getElementById("dateTimeOldest").innerText = res.dateTimeOldest
                    document.getElementById("dateTimeLatest").innerText = res.dateTimeLatest
                    document.getElementById("nbrOriginServer").innerText = res.nbrOriginServer
                    document.getElementById("nbrOriginOrganic").innerText = res.nbrOriginOrganic
                })
                document.getElementById("refreshTimeStamp").innerText = Date()
            }, 3000)
        </script>

        <hr>
        <h2>Test</h2>
        <section>
            <aside>
                <h3>GET</h3>
                <p><small>/api/get</small></p>
                <p>
                    Response : 
                    <code id="get">
                        // click start to fetch this link
                    </code>
                </p>
                <button id="fetchGet">start</button>
                <script>
                    document.getElementById("fetchGet").addEventListener("click", (e) => {
                        let data = fetch("/api/get").then(data => {
                            data.json().then(json => {
                                document.getElementById("get").innerText = JSON.stringify(json)
                            })
                        })
                    })
                </script>
            </aside>
            <aside>
                <h3>GET special function</h3>
                <p><small>/api/get?function=<span id="functionNameShow">simpleRandom</span></small></p>
                <p>
                    Response :
                    <code id="getFunction">
                        // click start to fetch this link
                    </code>
                </p>
                                
                <details>
                    <summary>Change function</summary>
                    <fieldset>
                        <label for="functionNameInput">Function name</label>
                        <input type="text" placeholder="Function name" id="functionNameInput" value="simpleRandom">
                    </fieldset>
                </details>
                <button id="fetchGetFunction">start</button>
                <script>
                    document.getElementById("functionNameInput").addEventListener("keydown", (e) => {
                        document.getElementById("functionNameShow").innerText = e.target.value
                    })
                    document.getElementById("functionNameInput").addEventListener("keyup", (e) => {
                        document.getElementById("functionNameShow").innerText = e.target.value
                    })
                    document.getElementById("fetchGetFunction").addEventListener("click", (e) => {
                        let inputValue = document.getElementById("functionNameInput").value
                        let data = fetch("/api/get?function=" + inputValue).then(data => {
                            data.json().then(json => {
                                document.getElementById("getFunction").innerText = JSON.stringify(json)
                            })
                        })
                    })
                </script>
            </aside>
        </section>
        <section>
            <aside>
                <h3>Give</h3>
                <p><small>/api/give?number=<span id="randomToGive"></span></small></p>
                <p>
                    Response :
                    <code id="give">
                        // click start to fetch this link
                    </code>
                </p>
                <button id="fetchGiveFunction">start</button>
                <script>
                    let randomToGive = Math.floor(Math.random() * 999)

                    document.getElementById("randomToGive").innerText = randomToGive

                    document.getElementById("fetchGiveFunction").addEventListener("click", (e) => {
                        let inputValue = document.getElementById("functionNameInput").value
                        let data = fetch("/api/give?number=" + randomToGive).then(data => {
                            data.json().then(json => {
                                document.getElementById("give").innerText = JSON.stringify(json)
                                randomToGive = Math.floor(Math.random() * 999)
                                document.getElementById("randomToGive").innerText = randomToGive
                            })
                        })
                    })
                </script>
            </aside>
            <aside>
                <h3>GIVE many</h3>
                <p><small>/api/giveMany?numbers=<span id="randomToGiveMany"></span></small></p>
                <p>
                    Response :
                    <code id="giveMany">
                        // click start to fetch this link
                    </code>
                </p>
                <button id="fetchGiveManyFunction">start</button>
                <script>
                    let randomToGiveMany = [
                        Math.floor(Math.random() * 999),
                        Math.floor(Math.random() * 999),
                        Math.floor(Math.random() * 999),
                        Math.floor(Math.random() * 999),
                        Math.floor(Math.random() * 999),
                    ]

                    document.getElementById("randomToGiveMany").innerText = randomToGiveMany.join("-")

                    document.getElementById("fetchGiveManyFunction").addEventListener("click", (e) => {
                        let inputValue = document.getElementById("functionNameInput").value
                        let data = fetch("/api/giveMany?numbers=" + randomToGiveMany.join("-")).then(data => {
                            data.json().then(json => {
                                document.getElementById("giveMany").innerText = JSON.stringify(json)
                                randomToGiveMany = [
                                    Math.floor(Math.random() * 999),
                                    Math.floor(Math.random() * 999),
                                    Math.floor(Math.random() * 999),
                                    Math.floor(Math.random() * 999),
                                    Math.floor(Math.random() * 999),
                                ]
                                document.getElementById("randomToGiveMany").innerText = randomToGiveMany.join("-")
                            })
                        })
                    })
                </script>
            </aside>
        </section>
        <section>
        
            <aside>
                <h3>Testing mouse randon</h3>
                    <div>
                        <input type="checkbox" id="enableMouseListen"/>
                        <label for="enable">Enable</label>
                      </div>

                      <script>
                        const randomMouse = () => {
                            let randomCollection = []
                            let canSend = true
                            document.addEventListener("mousemove", async (evt) => {
                                if(document.getElementById("enableMouseListen").checked) {
                                    randomCollection.push(String(parseInt(Math.random() * parseInt(evt.clientY + evt.clientX / 10))))
                                    if(randomCollection.length === 150 && canSend) {
                                        canSend = false
                                        randomCollectionString = randomCollection.join("-")
                                        await fetch("/api/giveMany?numbers="+randomCollectionString).then((res) => {
                                            canSend = true
                                            randomCollection = []
                                        })
                                    }
                                }
                            })
                        }    
                        randomMouse()                
                      </script>
            </aside>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            <a href="https://github.com/YR72dpi/lunaticProject">Github</a>
        </p>
    </footer>
</body>
</html>